<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Credit Risk Evaluation</title>
</head>

<body>
    <div class="container">
        <h1>Credit Risk Evaluation</h1>
        <div id="multicol">
            <form method="POST" action="/predict">
                <label for="loanAmount" class="field-label">Loan Amount:</label>
                <input type="text" name="loanAmount" required class="field-input">




                <label for="inquiries" class="field-label">Inquiries in Last 6 Months:</label>
                <input type="text" name="inquiries" class="field-input">


                <label for="annualIncome" class="field-label">Annual Income:</label>
                <input type="text" name="annualIncome" class="field-input">


                <label for="totalPayment" class="field-label">Total Payment:</label>
                <input type="text" name="totalPayment" class="field-input">


                <label for="totalLateFeeRecovered" class="field-label">Total Late Fee Recovered:</label>
                <input type="text" name="totalLateFeeRecovered" class="field-input">


                <label class="field-label">Previous Loan Status:</label>
                <label for="complete" class="checkbox-label">
                    <input type="checkbox" name="status" id="complete">
                    Complete

                </label>
                <label for="active" class="checkbox-label">
                    <input type="checkbox" name="status" id="active">
                    Active
                </label>
                <label for="broken" class="checkbox-label">
                    <input type="checkbox" name="status" id="broken">
                    Broken
                </label>
                <label for="cancelled" class="checkbox-label">
                    <input type="checkbox" name="status" id="cancelled">
                    Cancelled
                </label>
                <label for="denied" class="checkbox-label">
                    <input type="checkbox" name="status" id="denied">
                    Denied
                </label>
                <label for="draft" class="checkbox-label">
                    <input type="checkbox" name="status" id="draft">
                    Draft
                </label>
                <label for="sourceVerified" class="field-label">Source Verified:</label>
                <input type="text" name="sourceVerified" class="field-input">


                <label for="employmentLength" class="field-label">Employment Length:</label>
                <input type="text" name="employmentLength" class="field-input">
                </br>
                </br>
                </br>

                <label class="field-label">Term:</label>
                <label for="term36" class="checkbox-label">
                    <input type="checkbox" name="term36" id="term36">
                    36 Months
                </label>
                <label for="term60" class="checkbox-label">
                    <input type="checkbox" name="term60" id="term60">
                    60 Months
                </label>


                <label for="outstandingPrinciple" class="field-label">Outstanding Principle:</label>
                <input type="text" name="outstandingPrinciple" class="field-input">



                <label for="totalRecoveredInterest" class="field-label">Total Recovered Interest:</label>
                <input type="text" name="totalRecoveredInterest" class="field-input">

                <label for="lastPaymentAmount" class="field-label">Last Payment Amount:</label>
                <input type="text" name="lastPaymentAmount" class="field-input">


                <label class="field-label">House Ownership:</label>
                <label for="rented" class="checkbox-label">
                    <input type="checkbox" name="houseOwnership" id="rented">
                    Rented
                </label>
                <label for="mortgage" class="checkbox-label">
                    <input type="checkbox" name="houseOwnership" id="mortgage">
                    Mortgage
                </label>
                <label for="own" class="checkbox-label">
                    <input type="checkbox" name="houseOwnership" id="own">
                    Own
                </label>

                <label class="field-label">Purpose of the Loan:</label>
                <label for="car" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="car">
                    Car
                </label>
                <label for="creditCard" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="creditCard">
                    Credit Card
                </label>
                <label for="debtConsolidation" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="debtConsolidation">
                    Debt Consolidation
                </label>
                <label for="homeImprovement" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="homeImprovement">
                    Home Improvement
                </label>
                <label for="house" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="house">
                    House
                </label>
                <label for="majorPurchase" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="majorPurchase">
                    Major Purchase
                </label>
                <label for="medical" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="medical">
                    Medical
                </label>
                <label for="moving" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="moving">
                    Moving
                </label>
                <label for="renewableEnergy" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="renewableEnergy">
                    Renewable Energy
                </label>
                <label for="smallBusiness" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="smallBusiness">
                    Small Business
                </label>
                <label for="vacation" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="vacation">
                    Vacation
                </label>
                <label for="wedding" class="checkbox-label">
                    <input type="checkbox" name="loanPurpose" id="wedding">
                    Wedding
                </label>

        </div>
        <!-- Add more purpose options as needed -->
        </br>
        </br>

        <button type="submit" class="submit-button" style="margin-left: 44%;font-weight: 600;">Submit</button>
        </form>
    </div>
</body>

</html>